# $schema: http://json.schemastore.org/github-workflow.json
name: pull-request

on:
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  # GitHub workflows
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@131488b43dd9c37f98926fdfe0db7b3cc56f0dc9

  # Application
  verify-java-project:
    uses: harmelodic/workflows/.github/workflows/verify-java-project.yaml@131488b43dd9c37f98926fdfe0db7b3cc56f0dc9

  # Deployment
  verify-kustomization-base:
    uses: harmelodic/workflows/.github/workflows/verify-kustomization.yaml@131488b43dd9c37f98926fdfe0db7b3cc56f0dc9
    with:
      directory: k8s-manifests/base
  verify-kustomization-prod:
    uses: harmelodic/workflows/.github/workflows/verify-kustomization.yaml@131488b43dd9c37f98926fdfe0db7b3cc56f0dc9
    with:
      directory: k8s-manifests/prod

  # Infrastructure
  verify-terraform:
    uses: harmelodic/workflows/.github/workflows/verify-terraform.yaml@131488b43dd9c37f98926fdfe0db7b3cc56f0dc9
    with:
      directory: infrastructure

  # Documentation
  verify-mkdocs:
    uses: harmelodic/workflows/.github/workflows/verify-mkdocs.yaml@131488b43dd9c37f98926fdfe0db7b3cc56f0dc9

  # Contracts
  verify-openapi:
    uses: harmelodic/workflows/.github/workflows/verify-openapi.yaml@131488b43dd9c37f98926fdfe0db7b3cc56f0dc9
    with:
      specification: api-specs/openapi.yaml
  verify-asyncapi:
    uses: harmelodic/workflows/.github/workflows/verify-asyncapi.yaml@131488b43dd9c37f98926fdfe0db7b3cc56f0dc9
    with:
      specification: api-specs/asyncapi.yaml
